__pycache__/
.ipynb_checkpoints/

logs/
temp/
trained_models/
generated_samples/
scripts/

# Ignore everything job queueing related
job_scripts/
job_outputs/
# Ignore .out files; these are job log files
*.out

# Ignore everything except dictionary.json since that is all
# that is needed for reproduction.
data/**
!data/
!data/**/dictionary.json

# Same for preparations but now we store preparation.json
preparations/**
!preparations/
!preparations/**/preparation.json

# Ignore analysis_notebooks because those should generally remain private
# Exceptions are those that showcase results (e.g. docs)
analysis_notebooks/**
!analysis_notebooks
!analysis_notebooks/**
!analysis_notebooks/analysis_common.py
!analysis_notebooks/analysis_v2_showcase.ipynb

setup.sh
