__pycache__/
.ipynb_checkpoints/

logs/
temp/
trained_models/
generated_samples/

data/*/temp/
data/*/*.csv
data/*/*.bin
data/*/*.pkl
data/*.csv

pTokenizer/build/
pTokenizer/dist/
pTokenizer/pTokenizer.egg-info/